header {
    position: sticky !important;
    top: 0 !important;
    z-index: 999999 !important;
    left: 0 !important;
}
section#header-seciton {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(251, 251, 253, .8);
}

section#inner-section {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

section#inner-section .col-1,
section#inner-section .col-3,
section#inner-section .col-4 {
    width: 5%;
    display: flex;
    justify-content: end;
    align-items: center;
}

figure.search img,
figure.search img,
figure.logo img {
    width: 17px;
    height: 17px;
    object-fit: contain;
    object-position: center;
}

section#inner-section .col-2 {
    width: 85%;
}

nav#header-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav#header-nav ul li a {
    display: block;
    text-decoration: none;
    color: #000000cc;
    font-family: system-ui;
    font-size: 13px;
    padding: 0 10px;
}

section#inner-section .col-1 {
    justify-content: flex-start;
}

nav#header-nav ul li a:hover {
    color: #000;
}